.card {
    height: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid transparent;
    box-shadow: 0px 5px 15px rgb(80, 177, 106);
    transition: transform 0.3s ease;
  }
  .card:hover {
    transform: translateY(-5px);
  }
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .my-card-row {
    margin-bottom: 20px; 
  }
  .icon {
    font-size: 36px;
  }
  .btn-primary:hover {
    background-color: #45a049;
  }